.gnews-banner div {
    background: url(http://files.bbs.tl.changyou.com/data/attachment/forum/201601/09/003637u4e9rwur4wtqqr0l.png) no-repeat;
    width: 316px;
    height: 205px;
    position: absolute;
    left:-40px;
    top: -30px;
}
.gnews-banner {
    background: url(http://files.bbs.tl.changyou.com/data/attachment/forum/201601/08/231737vo18nzcdd85e7s7u.png) no-repeat;
    background-position: 260px 0px;
    margin-top: 20px;
}
.logo {
    float: left;
    width: 218px;
    height: 78px;
    background: url(http://files.bbs.tl.changyou.com/data/attachment/forum/201601/08/235155zqscfap0cu0afkfo.png) no-repeat;

    margin-bottom: 20px;
}
.gnews-menu a {
    float: left;
    height: 72px;
    width: 188px;
    background: url(http://files.bbs.tl.changyou.com/data/attachment/forum/201601/09/000244u7li6fs60yiymine.png) no-repeat;
}
.gnews-menu-major a {
    float: left;
    height: 72px;
    width: 188px;
    background: url(http://files.bbs.tl.changyou.com/data/attachment/forum/201601/09/223204dyasahehzeseskhk.png) no-repeat;
}
.gnews-banner-major {
    background: url(http://files.bbs.tl.changyou.com/data/attachment/forum/201601/09/222633qyln1ybu4xnu4o68.png) no-repeat;
    background-position: 250px 0px;
    margin-top: 20px;
}
.gnews-banner-major div {
    background: url(http://files.bbs.tl.changyou.com/data/attachment/forum/201601/10/000355r0m6u912u90o60ma.png) no-repeat;
    width: 316px;
    height: 205px;
    position: absolute;
    left:-40px;
    top: -30px;
}
.right hr {
    margin: 20px 0;
}
.custom-hr {
    width: 100%;
    height: 5px;
    background: url(http://www.gnosh.co.uk/wp-content/themes/gnosh/images/hr-break.jpg) no-repeat;
}
.garlic {
    position: relative;
    float: left;
    width: 316px;
    height: 240px;
    background: url(/resource/img/.png) no-repeat;
    margin-left: -10px;
}