.clearfix { zoom:1; }
.clearfix { zoom:1; }
.clearfix:after {
    display:block;
    visibility:hidden;
    height:0;
    clear:both;
    content:".";
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
ins {
    background-color:#ffff99;
    color:#000000;
    text-decoration:none;
}
mark {
    background-color:#ffff99;
    color:#000000;
    font-style:italic;
    font-weight:bold;
}
del { text-decoration:line-through; }
abbr[title], dfn[title] {
    border-bottom:1px dotted #000000;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    width: 100%;
    border: none;
    height: 10px;
    background: url(/resource/img/215754al7o08bokbcsww7b.png) no-repeat;
    margin: 10px 0;
    padding: 0;
    z-index:99;
}
input, select { vertical-align:middle; }
* { outline:none; }
.clear { clear:both; }
html {
    font-size:62.5%;
    font-family:"Calvert MT", "Calvert MT W01", arial, sans-serif;
}
body {
    font-size:1.2em;
    background:url(/resource/img/214130cnu36f99665f3667.jpg) #403a3a;
    -webkit-font-smoothing:antialiased;
}

.movedown {
    height:70px;
}
.movedown1 {
    height:400px;
}
.movedown2 {
    height:100px;
}
.wrapper {
    width:960px;
    margin:0 auto;
}
.img_gnosh_logo {
    background:url(/resource/img/011925dh61v6ia6f1fz1el.png) 0px 0px no-repeat;
    display:block;
    width:696px;
    height:312px;
}
.img_gourmet_dips {
    background:url(/resource/img/011925dh61v6ia6f1fz1el.png) 0px -371px no-repeat;
    display:block;
    width:515px;
    height:276px;
}
.img_header_news_panel_bg {
    background:url(/resource/img/011925dh61v6ia6f1fz1el.png) -698px 0px no-repeat;
    display:block;
    width:500px;
    height:146px;
}
.img_header_twitter_panel_bg {
    background:url(/resource/img/011925dh61v6ia6f1fz1el.png) 0px -649px no-repeat;
    display:block;
    width:194px;
    height:308px;
}
.img_keep_up {
    background:url(/resource/img/135335ql45u4zlmzkmph4u.png) no-repeat;
    display:block;
    width:497px;
    height:180px;
}
.img_nav_bg {
    background:url(/resource/img/011925dh61v6ia6f1fz1el.png) 0px -314px no-repeat;
    display:block;
    width:618px;
    height:55px;
}
.img_share_thoughts_us {
    background:url(/resource/img/011925dh61v6ia6f1fz1el.png) -752px -649px no-repeat;
    display:block;
    width:88px;
    height:122px;
}
.img_share_thoughts_us_hover {
    background:url(/resource/img/011925dh61v6ia6f1fz1el.png) -842px -649px no-repeat;
    display:block;
    width:88px;
    height:122px;
}
.img_somethings_better_shared {
    background:url(/resource/img/011925dh61v6ia6f1fz1el.png) -698px -531px no-repeat;
    display:block;
    width:298px;
    height:86px;
}
.img_whats_your_gnosh {
    background:url(/resource/img/140308n2frfvcp1ncvvzfp.png) no-repeat;
    display:block;
    width:175px;
    height:203px;
}
.img_whats_your_gnosh_hover {
    background:url(/resource/img/140308n2frfvcp1ncvvzfp.png) no-repeat;
    display:block;
    width:175px;
    height:203px;
}
.img_whats_your_text_bg {
    background:url(/resource/img/011925dh61v6ia6f1fz1el.png) -698px -304px no-repeat;
    display:block;
    width:355px;
    height:225px;
}
.img_where_to_gnosh {
    background:url(/resource/img/145423vul3tblua1h5lrba.png) no-repeat;
    display:block;
    width:119px;
    height:131px;
}
.img_where_to_gnosh_hover {
    background:url(/resource/img/145423vul3tblua1h5lrba.png) no-repeat;
    display:block;
    width:119px;
    height:131px;
}
.img_why_the_apos_more_about_us {
    background:url(/resource/img/155944th2bvbbhi653eklc.png) no-repeat;
    display:block;
    width:210px;
    height:222px;
}
.img_why_the_apos_more_about_us_hover {
    background:url(/resource/img/155944th2bvbbhi653eklc.png) no-repeat;
    display:block;
    width:210px;
    height:222px;
}
.img_basil {
    background:url(/resource/img/151536sw00ru3aylagi4u6.png) no-repeat;
    display:block;
    width:463px;
    height:473px;
}
.img_garlic {
    background:url('/resource/img/home2_pics.png') -465px -468px no-repeat;
    display:block;
    width:189px;
    height:229px;
}
.img_pepper {
    background:url(/resource/img/150122bmbtgmthrlv3mmjt.png) no-repeat;
    display:block;
    width:656px;
    height:466px;
}
.img_tomato_dip {
    background:url(/resource/img/160511zp6kma2euk2mymre.png) no-repeat;
    display:block;
    width:514px;
    height:325px;
}
.img_baba_smoke {
    background:url('/resource/img/whats_your_gnosh.png') -620px -539px no-repeat;
    display:block;
    width:232px;
    height:126px;
}
.img_baba_smoke_hover {
    background:url('/resource/img/whats_your_gnosh.png') -386px -539px no-repeat;
    display:block;
    width:232px;
    height:126px;
}
.img_beetroot_mint {
    background:url('/resource/img/whats_your_gnosh.png') -1096px -484px no-repeat;
    display:block;
    width:249px;
    height:167px;
}
.img_beetroot_mint_hover {
    background:url('/resource/img/whats_your_gnosh.png') -1096px -315px no-repeat;
    display:block;
    width:249px;
    height:167px;
}
.img_black_bean {
    background:url('/resource/img/whats_your_gnosh.png') -211px -813px no-repeat;
    display:block;
    width:209px;
    height:188px;
}
.img_black_bean_hover {
    background:url('/resource/img/whats_your_gnosh.png') 0px -813px no-repeat;
    display:block;
    width:209px;
    height:188px;
}
.img_crostini {
    background:url('/resource/img/whats_your_gnosh.png') -1096px 0px no-repeat;
    display:block;
    width:325px;
    height:313px;
}
.img_dip_packs {
    background:url('/resource/img/whats_your_gnosh.png') 0px 0px no-repeat;
    display:block;
    width:564px;
    height:537px;
}
.img_muhumarra_spicy {
    background:url('/resource/img/whats_your_gnosh.png') -566px -369px no-repeat;
    display:block;
    width:240px;
    height:112px;
}
.img_muhumarra_spicy_hover {
    background:url('/resource/img/whats_your_gnosh.png') -1096px -653px no-repeat;
    display:block;
    width:240px;
    height:112px;
}
.img_sun_dried {
    background:url('/resource/img/whats_your_gnosh.png') -627px -813px no-repeat;
    display:block;
    width:203px;
    height:149px;
}
.img_sun_dried_hover {
    background:url('/resource/img/whats_your_gnosh.png') -422px -813px no-repeat;
    display:block;
    width:203px;
    height:149px;
}
.img_whats_your_gnosh_arrows {
    background:url('/resource/img/whats_your_gnosh.png') -566px 0px no-repeat;
    display:block;
    width:528px;
    height:367px;
}
.img_whats_your_gnosh_photos {
    background:url('/resource/img/whats_your_gnosh.png') 0px -539px no-repeat;
    display:block;
    width:384px;
    height:272px;
}
.img_beetroot_dip {
    background:url('/resource/img/why_gnosh.png') 0px -996px no-repeat;
    display:block;
    width:701px;
    height:628px;
}
.img_biscuit {
    background:url('/resource/img/why_gnosh.png') -1874px -823px no-repeat;
    display:block;
    width:151px;
    height:138px;
}
.img_black_beans {
    background:url('/resource/img/why_gnosh.png') -1651px -996px no-repeat;
    display:block;
    width:285px;
    height:204px;
}
.img_notebook {
    background:url('/resource/img/why_gnosh.png') -1701px 0px no-repeat;
    display:block;
    width:680px;
    height:821px;
}
.img_selfridges_post_it {
    background:url('/resource/img/why_gnosh.png') -1179px -996px no-repeat;
    display:block;
    width:470px;
    height:371px;
}
.img_sharing_up {
    background:url('/resource/img/why_gnosh.png') -1701px -823px no-repeat;
    display:block;
    width:171px;
    height:156px;
}
.img_where_paintwork {
    background:url('/resource/img/why_gnosh.png') 0px 0px no-repeat;
    display:block;
    width:914px;
    height:994px;
}
.img_why_gnosh {
    background:url('/resource/img/why_gnosh.png') -703px -996px no-repeat;
    display:block;
    width:474px;
    height:594px;
}
.img_why_map_photo_dip {
    background:url('/resource/img/why_gnosh.png') -916px 0px no-repeat;
    display:block;
    width:783px;
    height:917px;
}
.img_beetroot {
    background:url('/resource/img/share.png') 0px 0px no-repeat;
    display:block;
    width:796px;
    height:571px;
}
.img_share_feed_bg {
    background:url('/resource/img/share.png') 0px -573px no-repeat;
    display:block;
    width:645px;
    height:684px;
}
.img_share_thoughts {
    background:url('/resource/img/share.png') -798px 0px no-repeat;
    display:block;
    width:361px;
    height:475px;
}
.img_sharing_makes {
    background:url('/resource/img/share.png') -798px -477px no-repeat;
    display:block;
    width:289px;
    height:230px;
}
.img_news_bg {
    background:url('/resource/img/news.png') 0px 0px no-repeat;
    display:block;
    width:628px;
    height:720px;
}
.img_news_down {
    background:url('/resource/img/news.png') -1182px -491px no-repeat;
    display:block;
    width:44px;
    height:32px;
}
.img_news_up {
    background:url('/resource/img/news.png') -1228px -491px no-repeat;
    display:block;
    width:44px;
    height:32px;
}
.img_something_to_share {
    background:url('/resource/img/news.png') 0px -722px no-repeat;
    display:block;
    width:368px;
    height:356px;
}
.img_tomatoes {
    background:url('/resource/img/news.png') -1182px 0px no-repeat;
    display:block;
    width:511px;
    height:489px;
}
.img_where_dip {
    background:url('/resource/img/news.png') -630px 0px no-repeat;
    display:block;
    width:550px;
    height:631px;
}
.img_whole_garlic {
    background:url('/resource/img/news.png') -370px -722px no-repeat;
    display:block;
    width:268px;
    height:284px;
}
.img_contact_form_bg {
    background:url('/resource/img/contact.png') 0px -890px no-repeat;
    display:block;
    width:380px;
    height:457px;
}
.img_contact_photos {
    background:url('/resource/img/contact.png') 0px 0px no-repeat;
    display:block;
    width:1053px;
    height:888px;
}
.img_love_to_hear {
    background:url('/resource/img/contact.png') -1055px 0px no-repeat;
    display:block;
    width:433px;
    height:483px;
}
.img_the_kind_of_dip {
    background:url('/resource/img/contact.png') -1055px -485px no-repeat;
    display:block;
    width:257px;
    height:284px;
}
#header { position:relative; }
#header h1 {
    text-indent:-5000px;
    background:url(/resource/img/140832wwpp6lmi9ae2pe2a.png) no-repeat;
    display:block;
    width:696px;
    height:400px;
    position:absolute;
    top:40px;
    left:4px;
}
#header nav {
    background:url(/resource/img/012827bir9zewsm68g6zec.png) no-repeat;
    display:block;
    width:618px;
    height:55px;
    position:fixed;
    top:0;
    margin-left:-10px;
    z-index:2000;
}

#header nav .social .rightmove{
    margin-left:40px;
}
#header nav .social {
    float:right;
    margin:2px 13px 0px 0px;
}
#header nav .social a {
    color:#938f8f;
    float:left;
    width:26px;
    height:26px;
    text-indent:0px;
    margin-left:20px;
    text-decoration: none;
    font-size: 13px;
}
#header nav .social .menus a {
    color:#938f8f;
    float:left;
    width:100px;
    height:26px;
    text-indent:0px;
    margin-left:20px;
    text-decoration: none;
    font-size: 13px;
}
#header nav .social p {
    width:50px;
}
#home {
    position:relative;
    height:1020px;
}
#home .why_the_apos {
    background:url(/resource/img/155944th2bvbbhi653eklc.png) no-repeat;
    display:block;
    width:210px;
    height:222px;
    position:absolute;
    top:230px;
    left:0px;
    text-indent:-5000px;
}
#home .why_the_apos.hover {
    background:url(/resource/img/155944th2bvbbhi653eklc.png) no-repeat;
    display:block;
    width:210px;
    height:222px;
}
#home .gourmet_dips {
    background:url(/resource/img/011925dh61v6ia6f1fz1el.png) 0px -371px no-repeat;
    display:block;
    width:515px;
    height:276px;
    position:absolute;
    top:159px;
    left:227px;
    text-indent:-5000px;
}
#home .share_thoughts {
    background:url(/resource/img/011925dh61v6ia6f1fz1el.png) -752px -649px no-repeat;
    display:block;
    width:88px;
    height:122px;
    position:absolute;
    top:50px;
    left:511px;
    text-indent:-5000px;
    z-index:10;
}
#home .product_award {
    background:url('/resource/img/productaward.png') no-repeat;
    display:block;
    width:107px;
    height:107px;
    position:absolute;
    top:50px;
    left:378px;
    text-indent:-5000px;
    z-index:10;
}
#home .product_award1 {
    background: url("/resource/img/productaward1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 113px;
    left: 411px;
    position: absolute;
    text-indent: -5000px;
    top: 52px;
    width: 89px;
    z-index: 10;
}

#home .product_award2 {
    background: url("/resource/img/productaward4.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 113px;
    left: 292px;
    position: absolute;
    text-indent: -5000px;
    top: 52px;
    width: 106px;
    z-index: 10;
}

#home .product_award3 {
    background: url("/resource/img/productaward3.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 170px;
    left: 519px;
    position: absolute;
    text-indent: -5000px;
    top: 52px;
    width: 60px;
    z-index: 10;
}
#home .share_thoughts.hover {
    background:url(/resource/img/011925dh61v6ia6f1fz1el.png) -842px -649px no-repeat;
    display:block;
    width:88px;
    height:122px;
}
#home .better_shared {
    background:url(/resource/img/134609imxov6krqkb96b6z.png) no-repeat;
    display:block;
    width:298px;
    height:86px;
    position:absolute;
    top:540px;
    left:484px;
    text-indent:-5000px;
    z-index:1050;
}
#home .whats_your_gnosh {
    background:url(/resource/img/140308n2frfvcp1ncvvzfp.png) no-repeat;
    display:block;
    width:175px;
    height:203px;
    position:absolute;
    top:519px;
    left:15px;
    text-indent:-5000px;
    z-index:1030;
}
#home .whats_your_gnosh.hover {
    background:url(/resource/img/140308n2frfvcp1ncvvzfp.png) no-repeat;
    display:block;
    width:175px;
    height:203px;
}
#home .where_to_gnosh {
    background:url(/resource/img/145423vul3tblua1h5lrba.png) no-repeat;
    display:block;
    width:119px;
    height:131px;
    position:absolute;
    top:543px;
    right:13px;
    text-indent:-5000px;
    z-index:1030;
}
#home .where_to_gnosh.hover {
    background:url(/resource/img/145423vul3tblua1h5lrba.png) no-repeat;
    display:block;
    width:119px;
    height:131px;
}
#home .tomato_dip {
    display:block;
    position:absolute;
    top:44px;
    right:-200px;
    background:url(/resource/img/160511zp6kma2euk2mymre.png) no-repeat;
    display:block;
    width:514px;
    height:325px;
}
#home .garlic {
    display:block;
    position:absolute;
    top:79px;
    left:90px;
    background:url('/resource/img/home2_pics.png') -465px -468px no-repeat;
    display:block;
    width:189px;
    height:229px;
}
#home .pepper {
    display:block;
    position:absolute;
    top:477px;
    left:199px;
    background:url(/resource/img/150122bmbtgmthrlv3mmjt.png) no-repeat;
    display:block;
    width:656px;
    height:466px;
    z-index:1020;
}
#home .basil {
    display:block;
    position:absolute;
    top:792px;
    left:642px;
    background:url(/resource/img/151536sw00ru3aylagi4u6.png) no-repeat;
    display:block;
    width:463px;
    height:473px;
    z-index:1020;
}
#home .keep_up {
    display:block;
    position:absolute;
    top:767px;
    left:19px;
    background:url(/resource/img/135335ql45u4zlmzkmph4u.png) no-repeat;
    display:block;
    width:497px;
    height:180px;
    width:296px !important;
    height:125px !important;
    z-index:1020;
}
#home .keep_up:hover, #home .keep_up.hover {
    width:497px !important;
    height:180px !important;
}
#home .twitter {
    background:url(/resource/img/135713h44y7ioi4lzhmzal.png) no-repeat;
    display:block;
    width:194px;
    height:330px;
    position:absolute;
    top:234px;
    right:-2px;
}
#home .twitter a:link, #home .twitter a:visited {
    color:#5f3726;
    text-decoration:none;
}
#home .twitter a:hover, #home .twitter a:active, #home .twitter a:focus { text-decoration:underline; }
#home .twitter ul {
    font-size:10px;
    line-height:15px;
    height:170px;
    overflow:hidden;
    margin:42px 20px 0 20px;
    padding:0;
}
#home .twitter ul li {
    list-style:none;
    color:#554e4e;
    padding-bottom:9px;
}
#home .twitter .extras {
    font-size:9px;
    text-transform:uppercase;
    position:absolute;
    bottom:75px;
    left:40px;
    width:146px;
}
#home .twitter .extras a { text-decoration:none; }
#home .twitter .extras a.left { float:left; }
#home .twitter .extras a.right { float:right; }
#home .news {
    background:url(/resource/img/135848p4kbudm0arzngznd.png) no-repeat;
    display:block;
    width:500px;
    height:146px;
    position:absolute;
    top:661px;
    left:457px;
}
#home .news a:link, #home .news a:visited {
    color:#693018;
    text-decoration:none;
}
#home .news a:hover, #home .news a:active, #home .news a:focus {
    color:#693018;
    text-decoration:underline;
}
#home .news h1 {
    position:absolute;
    top:45px;
    left:30px;
    font-size:19px;
    text-transform:uppercase;
    z-index:1040;
}
#home .news time {
    position:absolute;
    top:19px;
    left:70px;
    font-size:15px;
    color:#767070;
    z-index:1040;
}
#home .news p {
    font-size:11px;
    line-height:15px;
    color:#554e4e;
    position:absolute;
    top:75px;
    left:70px;
    z-index:1040;
}
#home .news .more {
    position:absolute;
    bottom:15px;
    right:20px;
    font-size:9px;
    text-transform:uppercase;
    z-index:1040;
}
#flavours {
    position:relative;
    height:898px;
}
#flavours h1 {
    background:url('/resource/img/whats_your_gnosh.png') -566px 0px no-repeat;
    display:block;
    width:528px;
    height:367px;
    position:absolute;
    top:38px;
    left:188px;
    z-index:1040;
    text-indent:-5000px;
}
#flavours .shadows_lines {
    background:url('/resource/img/whats_your_gnosh_lines_shadows.png');
    width:968px;
    height:1082px;
    position:absolute;
    top:10px;
    left:-5px;
    z-index:1040;
}
#flavours .sun_dried {
    background:url('/resource/img/whats_your_gnosh.png') -627px -813px no-repeat;
    display:block;
    width:203px;
    height:149px;
    position:absolute;
    top:61px;
    left:38px;
    z-index:1040;
}
#flavours .sun_dried.hover {
    background:url('/resource/img/whats_your_gnosh.png') -422px -813px no-repeat;
    display:block;
    width:203px;
    height:149px;
}
#flavours .black_bean {
    background:url('/resource/img/whats_your_gnosh.png') -211px -813px no-repeat;
    display:block;
    width:209px;
    height:188px;
    position:absolute;
    top:247px;
    left:44px;
    z-index:1040;
}
#flavours .black_bean.hover {
    background:url('/resource/img/whats_your_gnosh.png') 0px -813px no-repeat;
    display:block;
    width:209px;
    height:188px;
}
#flavours .muhumarra_spicy {
    background:url('/resource/img/whats_your_gnosh.png') -566px -369px no-repeat;
    display:block;
    width:240px;
    height:112px;
    position:absolute;
    top:59px;
    right:30px;
    z-index:1040;
}
#flavours .muhumarra_spicy.hover {
    background:url('/resource/img/whats_your_gnosh.png') -1096px -653px no-repeat;
    display:block;
    width:240px;
    height:112px;
}
#flavours .beetroot_mint {
    background:url('/resource/img/whats_your_gnosh.png') -1096px -484px no-repeat;
    display:block;
    width:249px;
    height:167px;
    position:absolute;
    top:220px;
    right:33px;
    z-index:1040;
}
#flavours .beetroot_mint.hover {
    background:url('/resource/img/whats_your_gnosh.png') -1096px -315px no-repeat;
    display:block;
    width:249px;
    height:167px;
}
#flavours .baba_smoke {
    background:url('/resource/img/whats_your_gnosh.png') -620px -539px no-repeat;
    display:block;
    width:232px;
    height:126px;
    position:absolute;
    top:396px;
    right:28px;
    z-index:1040;
}
#flavours .baba_smoke.hover {
    background:url('/resource/img/whats_your_gnosh.png') -386px -539px no-repeat;
    display:block;
    width:232px;
    height:126px;
}
#flavours .dip_packs {
    background:url('/resource/img/whats_your_gnosh.png') 0px 0px no-repeat;
    display:block;
    width:564px;
    height:537px;
    position:absolute;
    top:272px;
    right:244px;
    z-index:1040;
}
#flavours .dip_packs .dip {
    position:absolute;
    top:108px;
    left:166px;
    z-index:1100;
}
#flavours .crostini {
    background:url('/resource/img/whats_your_gnosh.png') -1096px 0px no-repeat;
    display:block;
    width:325px;
    height:313px;
    position:absolute;
    top:653px;
    left:101px;
    z-index:1040;
}
#flavours .text {
    background:url(/resource/img/011925dh61v6ia6f1fz1el.png) -698px -304px no-repeat;
    display:block;
    width:355px;
    height:225px;
    width:355px;
    height:225px;
    position:absolute;
    top:524px;
    left:10px;
    z-index:1030;
}
#flavours .text h2, #flavours .text p {
    position:relative;
    z-index:1050;
}
#flavours .text h2 {
    font-size:21px;
    line-height:26px;
    color:#652d16;
    padding:26px 80px 0 30px;
    font-weight:normal;
}
#flavours .text p {
    font-size:12px;
    line-height:18px;
    color:#554e4e;
    padding:12px 70px 0 31px;
}
#flavours .photos {
    background:url('/resource/img/whats_your_gnosh.png') 0px -539px no-repeat;
    display:block;
    width:384px;
    height:272px;
    width:384px;
    height:272px;
    position:absolute;
    top:604px;
    right:43px;
    z-index:1030;
}
#flavours .photos img {
    position:absolute;
    top:12px;
    left:19px;
}
#why-gnosh {
    position:relative;
}
#why-gnosh h1 {
    display:block;
    position:absolute;
    top:202px;
    left:-2px;
    background:url('/resource/img/why_gnosh.png') -703px -996px no-repeat;
    display:block;
    width:474px;
    height:594px;
    text-indent:-5000px;
}
#why-gnosh .black_beans {
    background:url('/resource/img/why_gnosh.png') -1651px -996px no-repeat;
    display:block;
    width:285px;
    height:204px;
    position:absolute;
    top:95px;
    left:400px;
    z-index:1040;
}
#why-gnosh .why_map_photo_dip {
    background:url('/resource/img/why_gnosh.png') -916px 0px no-repeat;
    display:block;
    width:783px;
    height:917px;
    position:absolute;
    top:252px;
    left:-2px;
    z-index:1030;
}
#why-gnosh .biscuit {
    background:url('/resource/img/why_gnosh.png') -1874px -823px no-repeat;
    display:block;
    width:151px;
    height:138px;
    position:absolute;
    top:950px;
    left:50px;
}
#why-gnosh .beetroot_dip {
    background:url('/resource/img/why_gnosh.png') 0px -996px no-repeat;
    display:block;
    width:701px;
    height:628px;
    position:absolute;
    top:858px;
    left:283px;
    z-index:1050;
}
#why-gnosh .sharing_up {
    background:url('/resource/img/why_gnosh.png') -1701px -823px no-repeat;
    display:block;
    width:171px;
    height:156px;
    position:absolute;
    top:981px;
    left:258px;
    z-index:1030;
}
#why-gnosh .notebook {
    background:url('/resource/img/why_gnosh.png') -1701px 0px no-repeat;
    display:block;
    width:680px;
    height:821px;
    position:absolute;
    top:197px;
    right:-136px;
    z-index:1040;
}
#why-gnosh .notebook .text_wrap {
    display:block;
    padding:45px 170px 0 279px;
}
#why-gnosh .notebook .text_wrap h2 {
    color:#652d16;
    font-size:19px;
    line-height:22px;
    margin-bottom:9px;
    font-weight:normal;
}
#why-gnosh .notebook .text_wrap p {
    color:#554e4e;
    font-size:12px;
    line-height:18px;
    margin-bottom:10px;
}
#why-gnosh .notebook .text_wrap p.top_space { margin-top:37px; }
#why-gnosh .where {
    background:url('/resource/img/where_list.png');
    position:absolute;
    top:1134px;
    left:-2px;
    width:928px;
    height:1180px;
    z-index:10;
}
#why-gnosh .where a {
    color:#652d16;
    text-decoration:none;
}
#why-gnosh .selfridges {
    background:url('/resource/img/why_gnosh.png') -1179px -996px no-repeat;
    display:block;
    width:470px;
    height:371px;
    text-indent:-5000px;
    position:absolute;
    top:1589px;
    left:474px;
}
.stores_listing {
    width:323px;
    position:absolute;
    top:1424px;
    left:504px;
}
.stores_listing .store_logos {
    position:absolute;
    top:60px;
    left:-400px;
    z-index:1300;
}
#stores {
    position:relative;
    z-index:1400;
}
#stores #store_scroller {
    height:455px;
    overflow:hidden;
}
#stores ul li {
    display:block;
    padding-top:20px;
    list-style:none;
    zoom:1;
    font-size:11px;
    line-height:18px;
}
#stores ul li:after {
    display:block;
    visibility:hidden;
    height:0;
    clear:both;
    content:".";
}
#stores ul li .town, #stores ul li .address span { color:#652d16; }
#stores ul li .town {
    float:left;
    width:85px;
}
#stores ul li .address {
    width:213px;
    float:right;
    color:#554e4e;
}
#stores ul li .address span {
    display:block;
    text-transform:uppercase;
}
#stores .where_arrow {
    width:44px;
    height:32px;
    position:absolute;
    text-indent:-5000px;
    z-index:1050;
    background:url('/resource/img/small_arrows.png') no-repeat;
    display:block;
    width:28px;
    height:16px;
}
#stores .where_arrow:hover { margin-top:1px; }
#stores .where_arrow:active { margin-top:2px; }
#stores .where_arrow.up {
    background-position:0px 0px;
    top:-1px;
    right:-35px;
}
#stores .where_arrow.down {
    background-position:0px -24px;
    top:456px;
    right:-38px;
}
#share {
    position:relative;
    height:1160px;
}
#share h1 {
    background:url('/resource/img/share.png') -798px 0px no-repeat;
    display:block;
    width:361px;
    height:475px;
    position:absolute;
    top:445px;
    left:-24px;
    text-indent:-5000px;
}
#share .beetroot {
    background:url('/resource/img/share.png') 0px 0px no-repeat;
    display:block;
    width:796px;
    height:571px;
    position:absolute;
    top:46px;
    left:-12px;
    z-index:1030;
}
#share .sharing {
    background:url('/resource/img/share.png') -798px -477px no-repeat;
    display:block;
    width:289px;
    height:230px;
    position:absolute;
    top:83px;
    right:6px;
    z-index:1030;
}
#share .feed {
    background:url('/resource/img/share.png') 0px -573px no-repeat;
    display:block;
    width:645px;
    height:684px;
    position:absolute;
    top:321px;
    right:-10px;
    z-index:1000;
}
#share p {
    position:absolute;
    top:774px;
    left:24px;
    width:290px;
    color:#652d16;
    font-size:14px;
    line-height:21px;
}
#share #disqus_wrapper {
    position:relative;
    z-index:1100;
}
#share .disqus_wrapper {
    width:450px;
    height:540px;
    position:absolute;
    top:391px;
    left:388px;
    z-index:1900;
    overflow:hidden !important;
}
#share .share_arrow {
    width:44px;
    height:32px;
    position:absolute;
    text-indent:-5000px;
    z-index:1150;
}
#share .share_arrow.up {
    background:url('/resource/img/news.png') -1228px -491px no-repeat;
    display:block;
    width:44px;
    height:32px;
    top:488px;
    right:44px;
}
#share .share_arrow.down {
    background:url('/resource/img/news.png') -1182px -491px no-repeat;
    display:block;
    width:44px;
    height:32px;
    bottom:224px;
    right:44px;
}
#news {
    position:relative;
    height:930px;
}
#news h1 {
    background:url('/resource/img/news.png') 0px -722px no-repeat;
    display:block;
    width:368px;
    height:356px;
    position:absolute;
    top:572px;
    right:-8px;
    text-indent:-5000px;
}
#news .dip {
    background:url('/resource/img/news.png') -630px 0px no-repeat;
    display:block;
    width:550px;
    height:631px;
    position:absolute;
    top:-247px;
    left:107px;
}
#news .tomatoes {
    background:url('/resource/img/news.png') -1182px 0px no-repeat;
    display:block;
    width:511px;
    height:489px;
    position:absolute;
    top:222px;
    right:-77px;
}
#news .whole_garlic {
    background:url('/resource/img/news.png') -370px -722px no-repeat;
    display:block;
    width:268px;
    height:284px;
    position:absolute;
    top:110px;
    left:-65px;
    z-index:1030;
}
#news .news {
    background:url('/resource/img/news.png') 0px 0px no-repeat;
    display:block;
    width:628px;
    height:720px;
    position:absolute;
    top:203px;
    left:-11px;
    z-index:1;
}
#news .news .scroller {
    margin:124px 50px 0px 50px;
    padding-top:10px;
    height:500px;
    width:460px;
    overflow:hidden;
    position:relative;
    z-index:1111;
}
#news .news article {
    padding-bottom:50px;
    position:relative;
    z-index:1100;
    font-family: "Calvert MT", "Calvert MT W01", arial, sans-serif;
}

.news .scroller article a{color: #693018;}

#news .news article:last-of-type { padding-bottom:0px; }
#news .news article time {
    font-size:16px;
    color:#767070;
    z-index:1040;
}
#news .news article h2 {
    font-size:20px;
    z-index:1040;
    color:#693018;
    margin-top:9px;
    margin-bottom:12px;
}
#news .news article p {
    font-size:13px;
    line-height:18px;
    color:#554e4e;
}
#news .news article img { margin-top:14px; }
#news .news article .social {
    position:absolute;
    top:-4px;
    right:13px;
}
#news .news article .social li {
    float:left;
    list-style:none;
    margin-left:10px;
}
#news .news article .social li a {
    text-transform:lowercase;
    color:#858585;
    text-decoration:none;
    line-height:24px;
}
#news .news article .social li.twitter {
    background:url('/resource/img/news_twitter.png') left top no-repeat;
    text-indent:26px;
}
#news .news article .social li.fb_send {
    background:url('/resource/img/news_facebook.png') left top no-repeat;
    text-indent:22px;
}
#news .news article .social li.fb_like {
    background:url('/resource/img/news_facebook.png') left top no-repeat;
    text-indent:22px;
}
#news .news article .social li.plus_1 {
    background:url('/resource/img/news_google.png') left top no-repeat;
    width:22px;
}
#news .news article .social li.plus_1 a { text-indent:-5000px; }
#news .news .news_arrow {
    width:44px;
    height:32px;
    position:absolute;
    text-indent:-5000px;
    z-index:1050;
}
#news .news .news_arrow:hover { margin-top:1px; }
#news .news .news_arrow:active { margin-top:2px; }
#news .news .news_arrow.up {
    background:url('/resource/img/news.png') -1228px -491px no-repeat;
    display:block;
    width:44px;
    height:32px;
    top:137px;
    right:49px;
}
#news .news .news_arrow.down {
    background:url('/resource/img/news.png') -1182px -491px no-repeat;
    display:block;
    width:44px;
    height:32px;
    bottom:66px;
    right:57px;
}
#contact {
    position:relative;
    height:601px;
}
#contact h1 {
    background:url('/resource/img/contact.png') -1055px 0px no-repeat;
    display:block;
    width:433px;
    height:483px;
    position:absolute;
    top:113px;
    left:318px;
    text-indent:-5000px;
}
#contact .food {
    background:url('/resource/img/contact.png') 0px 0px no-repeat;
    display:block;
    width:1053px;
    height:840px;
    position:absolute;
    top:-233px;
    right:-33px;
    z-index:1020;
}
#contact .dip {
    background:url('/resource/img/contact.png') -1055px -485px no-repeat;
    display:block;
    width:257px;
    height:284px;
    position:absolute;
    top:-93px;
    right:71px;
    z-index:1020;
}
#contact form {
    background:url('/resource/img/contact.png') 0px -890px no-repeat;
    display:block;
    width:380px;
    height:457px;
    position:absolute;
    top:131px;
    left:-13px;
    padding:36px 0 0 40px;
}
#contact form p, #contact form textarea, #contact form input, #contact form button {
    position:relative;
    z-index:1060;
}
#contact form p {
    color:#652d16;
    font-size:14px;
    line-height:21px;
    width:290px;
}
#contact form p a {
    color:#554e4e;
    text-decoration:none;
}
#contact form p span {
    display:block;
    margin-top:13px;
}
#contact form input, #contact form textarea {
    width:288px;
    margin:0 0 0 -5px;
}
#contact form input.subject { margin-top:18px; }
#contact form input.email { margin-top:13px; }
#contact form textarea {
    height:101px;
    margin-top:22px;
}
#contact form button {
    padding:0;
    margin:0;
    font-family:"Calvert MT", "Calvert MT W01", arial, sans-serif;
    color:#652d16;
    font-size:12px;
    text-transform:uppercase;
    border:0;
    background:none;
    cursor:pointer;
}
#contact form button[type='reset'] {
    color:#817c7c;
    float:left;
    margin:21px 0 0 -4px;
}
#contact form button[type='submit'] {
    float:right;
    margin:21px 78px 0 0;
}
#footer cite {
    float:right;
    margin-right:-23px;
    font-style:normal;
}
input, textarea {
    -webkit-box-shadow:inset 0px 0px 5px rgba(0,0,0,0.4);
    -moz-box-shadow:inset 0px 0px 5px rgba(0,0,0,0.4);
    box-shadow:inset 0px 0px 5px rgba(0,0,0,0.4);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    padding:10px;
    border:1px solid #cccccc;
    font-family:Arial, sans-serif;
    font-size:11px;
}
input:focus, textarea:focus { border-color:#999999; }
.error { border-color:#ff0000; }
input[disabled='disabled'], textarea[disabled='disabled'], button[disabled='disabled'] { cursor:default; }
.no_bg, .no_bg * { background-image:none !important; }
.no_bg img { display:none; }

#header nav .social { width: 210px; position: absolute; margin-left: 700px; background: url(/resource/img/232420dn9ihiy5anaizihq.png); margin-top: 0; height: 51px; padding: 2px 0 0 10px;}

#where .garlic {
    position: absolute;
    width: 316px;
    height: 240px;
    background: url('..//resource/img/sprite-1.png') no-repeat;
    background-position: 0px -525px;
    top: 1054px;
    margin-left: -16px;
}

#where .tomato {
    position: absolute;
    width: 479px;
    height: 395px;
    background: url(/resource/img/tomato.png);
    top: 847px;
    margin-left: 478px;
    z-index: 9999;
}
#share .feed { z-index: 1; }

/* STOCKISTS */

.stockists {
    height: 850px;
    background: url('/resource/img/stockists-bg.png') -66px 0px no-repeat;
    padding-top: 83px;
}

.stockists .left_page {
    float: left;
    width: 335px;
    margin: 75px 0 0 85px;
    text-align: center;
}

.stockists .left_page p {
    color: #652d16;
    font-size: 13px;
    font-family: "Calvert MT", "Calvert MT W01", arial, sans-serif;
    margin: 15px 0;
}

.stockists .right_page {
    float: right;
    width: 360px;
    height: 504px;
    margin-right: 80px;
}

.stockists .right_page .inputs {
    height: 26px;
    margin-bottom: 9px;
}

.stockists .right_page .map {
    width: 357px;
    height: 469px;
}

.stockists .right_page .inputs input[type=text] {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    padding:5px 7px;
    width: 104px;
    border:1px solid #c0c0c0;
    font-size:12px;
    color: #652d16;
    font-family: "Calvert MT", "Calvert MT W01", arial, sans-serif;
    margin:0;
    margin-right: 2px;
}

.stockists .right_page .inputs select {
    border:1px solid #c0c0c0;
    font-size:12px;
    color: #652d16;
    font-family: "Calvert MT", "Calvert MT W01", arial, sans-serif;
    margin:0;
    height: 26px;
    width: 106px;
    margin-right: 2px;
    line-height: 26px;
    padding:.3em 0;
    padding-left:3px;
    padding-right: .3em;
}

.stockists .right_page .inputs select option {
    padding: 4px 0 4px 6px;
}

.stockists .right_page .inputs input[type=submit] {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    padding:5px 0px;
    width: 121px;
    border:1px solid #c0c0c0;
    font-size:12px;
    color: #652d16;
    font-family: "Calvert MT", "Calvert MT W01", arial, sans-serif;
    margin:0;
    background: #eaeaea;
    cursor: pointer;
}

.flavours-tapas {
    background: url(/resource/img/170939sg5ksouyuk5npulm.png)no-repeat;
    padding-right: 190px;
    padding-top: 126px;
    left: 525px;
    top: 290px;
    position: relative;
    z-index: 1021;
}

.flavours-mm {
    background: url(/resource/img/170940x1mciwb8vem1oxxk.png) no-repeat;
    padding-right: 153px;
    padding-top: 125px;
    left: 540px;
    top: 275px;
    position: relative;
    z-index: 1021;
}

.flavours-original {
    background: url(/resource/img/170938smy9zxx9xz97gp51.png) no-repeat;
    padding-right: 131px;
    padding-top: 126px;
    left: 510px;
    top: 290px;
    position: relative;
    z-index: 1021;
}

.down-triangle {
    border-width: 4px;
    border-style: solid dashed dashed;
    border-color: rgb(204, 204, 204) transparent transparent;
    width: 0px;
    height: 0px;
    line-height: 0;
    overflow: hidden;
    font-size: 0px;
    display:inline-block;
}
.back {
    margin-bottom: 6px;
    color: #000;
    text-decoration: none;
    float: left;
    width: 171px;
    background: url(images/sprite-2.png);
    height: 28px;
    background-position: 0px -649px;
    font-size: 12px;
    padding: 8px 0 0 22px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#header nav .pages .search-form {
    background: url("../pic/11.png") no-repeat 0px 0px;
    width: 182px;
    height: 27px;
    text-transform: lowercase;
    margin-left: 50px;
    display: inline-block;
}
#header nav .pages .search-form .search-input {
    margin: 5px 0px 0px 10px;
    padding: 0px;
    border: 0px currentColor;
    width: 135px;
    float: left;
    min-height: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    _margin: 5px 0 0 2px;
    -moz-box-shadow: none;
}

#header nav .pages .search-form .search-btn {
    background: url("") no-repeat 0px 0px;
    margin: 6px 6px 0px 0px;
    border: currentColor;
    width: 14px;
    height: 14px;
    float: right;
    cursor: pointer;
}
#header nav .pages .header-nav li.item .menus ul li{
    margin: 6px 5px;
    width: 70px;
    float: left;
}
#header nav .pages {
    float:left;
    top:11px;
    left:28px;
    margin-left:100px;
}
#header nav .pages .header-nav li.item a {
    text-decoration:none;
    text-transform:lowercase;
    margin-left:10px;
    height:26px;
    display: inline-block;
}
#header nav .pages .header-nav li.item .menus a {
    text-decoration:none;
    text-transform:lowercase;
    margin-left:10px;
    height:26px;
    width:70px;
    display: inline-block;
}
#header nav .pages a:link, #header nav .pages a:visited { color:#938f8f; }
#header nav .pages a:hover, #header nav .pages a:active, #header nav .pages a:focus { color:#7d3d1c; }

#header nav .pages .header-nav {
    font-family: 'Microsoft YaHei', 微软雅黑, 'Microsoft JhengHei', 华文黑体, STHeiti, Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
#header nav .pages .header-nav li.item {
    margin: 0px 10px;
    line-height: 1;
    float: left;
    position: relative;
}
#header nav .pages .header-nav li.item a.trigger {
    padding: 5px 10px;
    border: 1px solid rgb(255, 255, 255);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    color: rgb(85, 85, 85);
    display: block;
}
#header nav .pages .header-nav li.item a.trigger .down-triangle {
    margin-left: 3px;
    display: inline-block;
}
.down-triangle {
    border-width: 4px;
    border-style: solid dashed dashed;
    border-color: rgb(204, 204, 204) transparent transparent;
    width: 0px;
    height: 0px;
    line-height: 0;
    overflow: hidden;
    font-size: 0px;
}
#header nav .pages .header-nav li.item .menus {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    left: 0px;
    top: 27px;
    width: 340px;
    display: none;
    position: absolute;
    z-index: 1500;
}
.press-menu a {
    float: left;
    height: 43px;
    width: 188px;
    background: url(images/sprite-2.png) no-repeat;
    background-position: -316px -153px;
    margin-bottom: 30px;
}
.recipe-menu a {
    float: left;
    height: 58px;
    width: 188px;
    background: url(images/sprite-2.png);
    background-position: -316px -195px;
}
.sub-menu li:first-child a {
    padding-top: 7px;
}
.sub-menu li a {
    text-decoration: none;
    background: none;
    height: 25px;
    padding-left: 38px;
}
.recipe-menu a {
    float: left;
    height: 58px;
    width: 188px;
    background: url(images/sprite-2.png);
    background-position: -316px -195px;
}

.right-top-banner {
    float: left;
    width: 780px;
    height: 115px;
}
.right-top {
    float: left;
    width: 592px;
    height: 51px;
    background: url(images/sprite-2.png);
    background-position: -50px -592px;
}
.right {
    color: #6f6f6f;
    float: left;
    width: 524px;
    background: #fff;
    border-left: 1px solid #9f9e9e;
    border-right: 1px solid #9f9e9e;
    margin: 0 0px 0 4px;
    padding: 0 30px 0 30px;
}
.right time {
    font-size: 16px;
    color: #693018;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.right h1 {
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 10px;
    display: block;
}
.right h1 a {
    color: #6f6f6f;
    text-decoration: none;
}
.right p {
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 16px;
}
nav, .widget-content a, .widget-content h1 {
    position: relative;
}
.right-top {
    float: left;
    width: 632px;
    height: 51px;
    background: url(/resource/img/233107hm57qsl8tz8m5xvx.png) no-repeat;
    margin-left:-23px;
}
.right-bottom {
    width: 632px;
    float: left;
    background: url(/resource/img/002558tf55mwx6xx44lc5x.png) no-repeat;
    height: 130px;
    margin-left:-8px;

}
.sub-menu li a span {
    display: block;
    color: #f6f6f6;
    font-size: 14px;
    font-family: "Calvert MT W01";
    margin-left:15px;
}
#menu-item-6 .sub-menu li:first-child a {
    padding-top: 1px;
}
#menu-item-6 .sub-menu li a {
    text-decoration: none;
    background: none;
    height: 25px;
    padding-left: 38px;
}
#menu-item-6 .sub-menu li a span {
    display: block;
    color: #f6f6f6;
    font-size: 14px;
    font-family: "Calvert MT W01";
}
.footwrapper {
    width:880px;
    margin:0 auto;
    float:left;
}
#footerother {
    background:url(/resource/img/232314nstqwnav1lxqllnl.png) center center no-repeat;
    height:110px;
    width:880px;
    color:#554e4e;
    font-weight:bold;
    padding:0 50px;
    margin-left:-12px;
    padding-top: 80px;
}
#footer {
    background:url(/resource/img/232314nstqwnav1lxqllnl.png) center center no-repeat;
    height:110px;
    width:880px;
    color:#554e4e;
    font-weight:bold;
    padding:0 50px;
    margin-left:-12px;
    padding-top: 80px;
}
#footer small {
    float:left;
    margin-left:-29px;
}
#footer small a {
    color:#cccccc;
    text-decoration:none;
}

#header nav .social .header-nav li.item .menus {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    left: 0px;
    top: 27px;
    width: 100px;
    display: none;
    position: absolute;
    z-index: 1500;
    margin-left:100px;
}
#header nav .social .header-nav li.item .menus ul li{
    margin: 6px 5px;
    width: 70px;
    float: left;
}
#header nav .social .header-nav li.item a {
    text-decoration:none;
    text-transform:lowercase;
    margin-left:10px;
    height:26px;
    width:50px;
    display: inline-block;
}
#header nav .social .header-nav li.item .menus a {
    text-decoration:none;
    text-transform:lowercase;
    margin-left:10px;
    height:26px;
    width:70px;
    display: inline-block;
}
.left {
    width: 188px;
    float: left;
    margin-right: 50px;
    position: relative;
}

.right-container {
    float: left;
    width: 592px;
    position: relative;
}
.my-left {
    width: 188px;
    float: left;
    position: relative;
}
.my-middle {
    float: left;
    width: 592px;
    position: relative;
}
.my-right {
    width: 140px;
    float: left;
    position: relative;
    margin-left: 40px;
}
.middle-container {
    float: left;
    width: 780px;
    position: relative;
    margin-left: 50px;
}
.middle-top {
    float: left;
    width: 846px;
    height: 51px;
    background: url(/resource/img/topboard.png) no-repeat;

}
.middle-bottom {
    width: 846px;
    float: left;
    background: url(/resource/img/bottomboard.png) no-repeat;
    height: 130px;


}
.middle {
    color: #6f6f6f;
    float: left;
    width: 780px;
    background: #fff;
    border-left: 1px solid #9f9e9e;
    border-right: 1px solid #9f9e9e;
    margin: 0 0px 0 4px;
    padding: 0 30px 0 30px;
}
.nickname a {
    font-family: 'Microsoft YaHei', å¾®è½¯é›…é»‘, 'Microsoft JhengHei', åŽæ–‡é»‘ä½“, STHeiti, Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
}
.btn-bar {
    color: #ffffff;
}


/* STOCKISTS END */

