@charset "utf-8";

* {
}

ul,li {
	list-style: none
}

a {
	color: #09f;
}
/*容器*/
#xzw_starSys {
	
	
	
}

#xzw_starBox {
	position: relative;
	width: 120px;
	float: left
}

/*2015年12月13日17:21:21 @Lemonjing*/
#xzw_starBox1 {
    position: relative;
    width: 120px;
    float: left
}

/**/
#xzw_starSys .description {
	clear: both;
	padding: 10px 0px
}

#xzw_starSys .star {
	height: 20px;
	width: 120px;
	position: relative;
	background: url(../pic/123.png) repeat-x;
	cursor: pointer
}

#xzw_starSys .star li {
	float: left;
	padding: 0px;
	margin: 0px
}

#xzw_starSys .star li a {
	display: block;
	width: 24px;
	height: 20px;
	overflow: hidden;
	text-indent: -9999px;
	position: absolute;
	z-index: 5
}

#xzw_starSys .star li a:hover {
	background: url(../pic/123.png) 0 -25px repeat-x;
	z-index: 3;
	left: 0
}

#xzw_starSys .star a.one-star {
	left: 0
}

#xzw_starSys .star a.one-star:hover {
	width: 24px
}

#xzw_starSys .star a.two-stars {
	left: 24px
}

#xzw_starSys .star a.two-stars:hover {
	width: 48px
}

#xzw_starSys .star a.three-stars {
	left: 48px
}

#xzw_starSys .star a.three-stars:hover {
	width: 72px
}

#xzw_starSys .star a.four-stars {
	left: 72px
}

#xzw_starSys .star a.four-stars:hover {
	width: 96px
}

#xzw_starSys .star a.five-stars {
	left: 96px
}

#xzw_starSys .star a.five-stars:hover {
	width: 120px
}

#xzw_starSys .current-rating {
	background: url(../pic/123.png) 0 -25px repeat-x;
	position: absolute;
	height: 20px;
	z-index: 1;
	top: 0;
	left: 0
}