@font-face {font-family: "iconfont";
  src: url('iconfont.eot?v=2.7.0'); /* IE9*/
  src: url('iconfont.eot?#iefix&v=2.7.0') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?v=2.7.0') format('woff'), /* chrome、firefox */
  url('iconfont.ttf?v=2.7.0') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg?v=2.7.0#iconfont') format('svg'); /* iOS 4.1- */
}

.hz-icon,.cke_button_icon{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-question:before { content: "\e635"; }
.icon-jian:before { content: "\e64c"; }
.icon-jia:before { content: "\e64d"; }
.icon-socialsharecircle:before { content: "\e634"; }
.icon-inputchecked:before { content: "\e62a"; }
.icon-weibo-circle:before { content: "\e63d"; }
.icon-add-image:before { content: "\e641"; }
.icon-info:before { content: "\e633"; }
.icon-erweima:before { content: "\e644"; }
.icon-graphrise:before { content: "\e647"; }
.icon-videocam:before { content: "\e638"; }
.icon-anonymous-iconfont:before { content: "\e601"; }
.icon-close:before { content: "\e64f"; }
.icon-unie678:before { content: "\e643"; }
.icon-gongnengyedouban:before { content: "\e62b"; }
.icon-iconfontliwu:before { content: "\e649"; }
.icon-selected:before { content: "\e63a"; }
.icon-68image:before { content: "\e640"; }
.icon-bullhorn:before { content: "\e637"; }
.icon-play-nobg:before { content: "\e64e"; }
.icon-0340checkboxunchecked:before { content: "\e62c"; }
.icon-icon:before { content: "\e642"; }
.icon-iconfontemoji:before { content: "\e63f"; }
.icon-checkbox:before { content: "\e630"; }
.icon-forum:before { content: "\e62d"; }
.icon-thumbup:before { content: "\e608"; }
.icon-play:before { content: "\e63b"; }
.icon-textsms:before { content: "\e609"; }
.icon-keyboardarrowdown:before { content: "\e60a"; }
.icon-keyboardarrowup:before { content: "\e60b"; }
.icon-livehelp:before { content: "\e636"; }
.icon-locallibrary:before { content: "\e62e"; }
.icon-morehoriz:before { content: "\e60c"; }
.icon-permcontactcal:before { content: "\e60d"; }
.icon-removeredeye:before { content: "\e602"; }
.icon-addcircle:before { content: "\e60e"; }
.icon-mail:before { content: "\e60f"; }
.icon-person:before { content: "\e603"; }
.icon-arrowdropdown:before { content: "\e610"; }
.icon-notifications:before { content: "\e611"; }
.icon-notificationson:before { content: "\e612"; }
.icon-book:before { content: "\e613"; }
.icon-bookmarkoutline:before { content: "\e614"; }
.icon-bookmark:before { content: "\e615"; }
.icon-description:before { content: "\e62f"; }
.icon-exit:before { content: "\e616"; }
.icon-arrowback:before { content: "\e617"; }
.icon-arrowdropup:before { content: "\e618"; }
.icon-arrowforward:before { content: "\e619"; }
.icon-chevronleft:before { content: "\e61a"; }
.icon-chevronright:before { content: "\e652"; }
.icon-refresh:before { content: "\e61b"; }
.icon-favoriteoutline:before { content: "\e604"; }
.icon-flag:before { content: "\e61c"; }
.icon-setting:before { content: "\e61d"; }
.icon-share:before { content: "\e605"; }
.icon-starhalf:before { content: "\e61e"; }
.icon-staroutline:before { content: "\e61f"; }
.icon-star:before { content: "\e620"; }
.icon-edit:before { content: "\e632"; }
.icon-viewmodule:before { content: "\e631"; }
.icon-qq:before { content: "\e621"; }
.icon-qzone:before { content: "\e622"; }
.icon-renren:before { content: "\e623"; }
.icon-weibo:before { content: "\e624"; }
.icon-weixin:before { content: "\e625"; }
.icon-done:before { content: "\e626"; }
.icon-undone:before { content: "\e627"; }
.icon-whatshot:before { content: "\e628"; }
.icon-people:before { content: "\e606"; }
.icon-school:before { content: "\e607"; }
.icon-groupadd:before { content: "\e629"; }
.icon-doing:before { content: "\e639"; }
.icon-time:before { content: "\e648"; }
.icon-icgraphiceqblack24px:before { content: "\e600"; }
.icon-accountbalancewallet:before { content: "\e650"; }
.icon-formatlistbulleted:before { content: "\e64a"; }
.icon-wx:before { content: "\e63e"; }
.icon-smartphone:before { content: "\e64b"; }
.icon-lock:before { content: "\e646"; }
.icon-demo25:before { content: "\e645"; }
.icon-lock1:before { content: "\e63c"; }
.icon-i:before { content: "\e651"; }
.icon-arrowdropleft:before { content: "\e653"; }
